<!DOCTYPE html>
<html>
  <head>
    <title>login.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
	
    <link rel="stylesheet" type="text/css" href="../css/H-ui.css">
   <link rel="stylesheet" type="text/css" href="../css/Hui-iconfont/1.0.8/iconfont.min.css">
	<link rel="stylesheet" type="text/css" href="../css/loginstyle.css">
  </head>
  
  <body>
    &#xe62c;
    <i class="Hui-iconfont Hui-iconfont-gotop"></i>
    <button class="btn btn-primary">按钮</button>
    <form action="">
    			<label class="form-label col-xs-4 col-sm-3">账户：</label>
								<div class="formControls col-xs-8 col-sm-6">
									<input type="text" class="input-text" autocomplete="off" placeholder="手机/邮箱" name="account2" id="account2" datatype="m|e" nullmsg="账户不能为空">
								</div>
				<label class="form-label col-xs-4 col-sm-4">密码：</label>
								<div class="formControls col-xs-8 col-sm-6">
									<input type="text" class="input-text" autocomplete="off" placeholder="手机/邮箱" name="account2" id="account2" datatype="m|e" nullmsg="账户不能为空">
								</div>
				<label class="form-label col-lg-5">username:</label>
				<div class="formControls col-lg-3">
				<input type="text"  placeholder="username" class="input-text"/>
				</div>
</form>
    
  </body>
</html>
