#Container {
	width: 1360px;
	margin: 0 auto;/*设置整个容器在浏览器中水平居中*/
	background: #E0FFFF;
}

#Header {
	height: 80px;
	background: #BE77FF;
}

#logo {
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 50px;
}
#Content {
	height: 480px;
	/*此处对容器设置了高度，一般不建议对容器设置高度，一般使用overflow:auto;属性设置容器根据内容自适应高度，如果不指定高度或不设置自适应高度，容器将默认为1个字符高度，容器下方的布局元素（footer）设置margin-top:属性将无效*/
	margin-top: 0px; /*此处讲解margin的用法，设置content与上面header元素之间的距离*/
	margin-bottom: 0px;
	background: #E0FFFF;
}

#Content-Left {
	height: 460px;
	width: 150px;
	margin: 20px; /*设置元素跟其他元素的距离为20像素*/
	margin-left: 50px;
	float: left; /*设置浮动，实现多列效果，div+Css布局中很重要的*/
	background: #C0FF3E;
	text-shadow: 7px 5px 9px #080808;
}
#Content-inner{
	height: 200px;
	width:150px;
	padding-top: 100px;
	padding-bottom: 130px;
}
#Content-Main {
	height: 480px;
	width: 900px;
	margin: 20px; /*设置元素跟其他元素的距离为20像素*/
	float: left; /*设置浮动，实现多列效果，div+Css布局中很重要的*/
	background: #FFD2D2;
}
#Footer {
	height: 40px;
	background: #90C;
	margin-top: 0px;
}

.Clear {
	clear: both;
}